@import "tailwindcss";

:root {
  --background: rgb(255, 253, 250);
  --foreground: rgb(92, 78, 61);

  --primary: #1f4d3d;
  --primary-light: #2a5c46;
  --secondary: #b88e23;

  --surface: #ffffff;
  --surface-alt: #f4ece1;

  --border: #e7e1de;

  --font-heading: var(--font-libre-baskerville);
  --font-body: var(--font-dm-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

